.about__container {
  display: flex;
  gap: 145px;
  padding: 120px 103px 235px 103px;

  @include vp-1366 {
    flex-direction: column;
    gap: 38px;
    align-items: center;
    padding: 100px 0 183px 0;
  }

  @include vp-768 {
    padding: 70px 26px 70px 15px;
  }
}

.about__text-wrapper {
  width: 350px;

  @include vp-1366 {
    text-align: center;
    width: 505px;
  }

  @include vp-768 {
    width: 280px;
  }

  h2 {
    font-family: $ff-alumni;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0 0 25px 0;

    @include vp-1366 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin: 0 0 20px 0;
    }

    @include vp-768 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
    }
  }

  h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 95px 0;

    @include vp-1366 {
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 34px 0;
    }

    @include vp-768 {
      font-size: 18px;
      line-height: 20px;
      margin: 0 0 40px 0;
    }
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    margin: 0 0 5px 0;

    @include vp-1366 {
      width: 505px;
      text-align: center;
    }

    @include vp-768 {
      width: 279px;
      text-align: start;
      font-size: 14px;
      line-height: 22px;
    }
  }

  p + p {
    @include vp-1366 {
      display: none;
    }
  }
}

.about__media-wrapper {
  position: relative;
}

.about__image-wrapper {
  @include vp-1366 {
    padding: 0 45px;
    width: 768px;
    height: 345px;
  }

  @include vp-768 {
    width: 320px;
    height: 313px;
    padding: 0;
    margin: 0 0 40px 0;
  }
}

.about__iframe-wrapper {
  position: absolute;
  top: 72%;
  right: 54%;
  width: 364px;
  height: 228px;

  @include vp-1366 {
    width: 265px;
    height: 167px;
    top: 74%;
    right: 33%;
  }

  @include vp-768 {
    width: 320px;
    height: 167px;
    position: static;
    width: 100%;
    inset: 0;
    transform: translateX(0);
    }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(20, 54, 122, 0.5);
    z-index: 3;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.about__iframe-button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #ed0233;
  position: relative;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  @include hover-focus {
    border: 2px solid #102654;
  }

  @include active {
    border: 2px solid #102654;
  }

  @include disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    border-radius: 36px;
    z-index: 5;
    background: linear-gradient(
      90deg,
      #1c3477 0%,
      #1c3477 0.01%,
      #1a3578 39.11%,
      #73184b 75.5%,
      #b4022a 100%
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include hover-focus {
      background: red;
    }
  }

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $color-default-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
}

.about__iframe-button:hover::before,
.about__iframe-button:focus::before {
  background: $color-default-white;
}

.about__iframe-button:active::before {
  width: 50px;
  height: 50px;
  border-radius: 36px;
  background: $color-default-white;
}

.about__iframe-button:disabled::before {
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
}

.about__iframe-button:hover::after,
.about__iframe-button:focus::after,
.about__iframe-button:active::after {
  border-color: transparent transparent transparent #102654;
}

.about__iframe-button:disabled::after {
  border-color: transparent transparent transparent #102654;
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
}
