.about__container {
  display: flex;
  gap: 145px;

  padding: 120px 103px 235px 103px;
}

.about__text-wrapper {
  width: 350px;

  h2 {
    font-family: $ff-alumni;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0 0 25px 0;
  }

  h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 95px 0;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    margin: 0;
  }
}

.about__media-wrapper {
  position: relative;

  img {
    object-fit: cover;
    background: rgba(20, 54, 122, 0.5);
  }
}

.about__iframe-wrapper {
  position: absolute;
  top: 70%;
  right: 54%;
}
