.advantages {
  padding: 120px 0 0 0;
  h2 {
    font-family: $ff-alumni;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    text-align: center;
    margin: 0 0 50px 0;
  }
}
.advantages__container {
  padding: 118px 120px 103px 120px;
  background: #F8F9FC;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 116px 60px;
    grid-template-columns: 32.7% 23.1% 32.7%;
    
  }

  li  {
    display: flex;
    align-items: center;
  }

  li[data-element="center"] {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.advantages__count-wrapper {
  display: flex;
  flex-direction: column;

  span {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    background: linear-gradient(128deg, #d10a42 0%, #0041ca 45.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 30px 0 0;
  }

  span + span {
    color: #2e35ac;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.advantages__text-wrapper {
  h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 8px 0;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
  }
}

.advantages__centered-item {
  background-color: #1c3374;
  display: flex;
  flex-direction: column;
  padding: 70px 34px 86px 34px;
  width: 240px;
  height: 340px;
  grid-column: 2/3;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  span {
    color: $color-default-white;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin: 0 0 12px 0;
  }

  span + span {
    color: $color-default-white;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 0 0 42px 0;
  }

  p {
    color: $color-default-white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    text-align: center;
  }
}
