.contacts__header {
  color: #102654;
  margin: 0 0 40px 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.contacts__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.contacts__item {
  width: 50%;
}
.contacts__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 5px 0;
}
.contacts__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
