.contacts__header {
  color: #102654;
  margin: 0 0 40px 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1366 {
    font-size: 42px;
    line-height: normal;
    letter-spacing: 1.26px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }
}

.contacts__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 118px;
  margin: 0;
  padding: 0;

  @include vp-1366 {
    grid-column-gap: 140px;
  }
}

.contacts__item {
  width: 171px;
}
.contacts__title {
  width: 156px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 5px 0;

  @include vp-1366 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 8px;
    
  }
}
.contacts__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 15px 0;

  @include vp-1366 {
    margin: 0 0 30px 0;
  }
}
