.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-1366 {
    flex-direction: column;
  }
}

.footer__header {
  color: $color-default-white;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0 0 36px 0;

  @include vp-1366 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin: 0 0 28px 0;
  }
}

.footer__contacts {
  padding: 60px 163px 60px 120px;
  width: 50%;
  height: 337px;

  @include vp-1366 {
    width: 100%;
    padding: 100px 214px 100px 133px;
    height: 424px;
  }
}

.footer__nav {
  background-color: #030a1a;
  color: $color-default-white;
  width: 100%;
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 103px;

  @include vp-1366 {
    padding: 0 45px;
    min-height: 115px;
    justify-content: flex-start;
  }
}
