.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__form {
  padding: 60px 170px 60px 103px;
  background-color: #102654;
  display: flex;
  flex-direction: column;
  width: 50%;

  h3 {
    color: $color-default-white;
    font-family: $ff-alumni;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0 0 33px 0;
  }
}

.footer__form-input {
  width: 190px;
  height: 26px;
  background-color: #102654;
  border: none;
  border-bottom: 1px solid $color-default-white;

  &::placeholder {
    color: $color-default-white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.footer__input-wrapper {
  display: flex;
  gap: 30px;
  margin: 0 0 28px;
}

.footer__form-button {
  width: 410px;
  padding: 25px 56px;
  color: $color-default-white;
  background-color: #102654;
  border: 2px solid $color-default-white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.footer__contacts {
  padding: 60px 163px 60px 120px;
  width: 50%;
}

.footer__nav {
  background-color: #030a1a;
  color: $color-default-white;
  width: 100%;
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 103px;
}
