.form-container {
  padding: 60px 170px 59px 103px;
  background-color: #102654;
  display: flex;
  flex-direction: column;

  @include vp-1366 {
    width: 100%;
    padding: 100px 133px;
  }

  @include vp-768 {
    padding: 70px 15px;
  }
}

.form-container__input {
  position: relative;
  color: $color-default-white;
  label {
    height: 36px;
  }

  input {
    width: 190px;
    min-height: 36px;
    background-color: #102654;
    color: $color-default-white;
    border: none;
    border-bottom: 1px solid rgba(225, 225, 225, 0.8);
    position: relative;
    padding: 0;

    @include vp-1366 {
      width: 221px;
    }

    @include vp-768 {
      width: 100%;
    }

    @include hover {
      border-bottom: 1px solid $color-default-white;
    }

    @include active {
      border: none;
      outline: 1px solid $color-default-white;
    }

    @include focus {
      border: none;
      outline: 1px solid $color-default-white;
    }

    @include disabled {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
      outline: none;
      border-bottom: 1px solid $color-default-white;
    }

    &::placeholder {
      color: $color-default-white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.form-container__input-container {
  display: flex;
  gap: 30px;
  margin: 0 0 28px 0;

  @include vp-1366 {
    gap: 60px;
  }

  @include vp-768 {
    flex-direction: column;
    gap: 35px;
    margin: 0 0 40px 0;
  }
}

.form-container__button {
  width: 410px;
  padding: 25px 56px;
  color: $color-default-white;
  background-color: #102654;
  border: 2px solid $color-default-white;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1366 {
    width: 502px;
    padding: 21px 197px;
  }

  @include vp-768 {
    width: 290px;
    padding: 22px 106px;
  }
}

.form-container__input .input-message {
  position: absolute;
  left: 0;
  bottom: -20px;
}

.form-container__input .input-message.is-invalid {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.form-container__input .input-message.is-valid {
  color: #15ab07;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
