.games {
  z-index: 1;
}

.games__container {
  padding: 114px 103px;
  z-index: 1;

  @include vp-1366 {
    padding: 100px 45px;
  }

  @include vp-768 {
    padding: 70px 15px;
  }
}

.games__wrapper {
  display: flex;

  @include vp-768 {
    flex-direction: column;
  }
}

.games__content-container {
  display: flex;
  flex-direction: column;
  width: 43%;
  background: #ed0233;
  padding: 80px;

  @include vp-1366 {
    padding: 40px 45px 45px 45px;
  }

  @include vp-768 {
    width: 100%;
    padding: 40px;
  }
}
.games__text-wrapper {
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 69px;
  margin: 0 0 23px 0;

  @include vp-1366 {
    gap: 9px 42px;
    margin: 0 0 4px 0;
  }
}

.games__title {
  grid-row: span 2;
  text-align: center;
  font-family: $ff-alumni;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  margin: 0;

  @include vp-1366 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

.games__information {
  width: 78px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1366 {
    width: 57px;
    height: 50px;
  }
}

.games__small-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  margin: 0 0 12px 0;
  position: relative;

  @include vp-1366 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 1px 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
    bottom: -8px;

    @include vp-1366 {
      bottom: 2px;
    }
  }

  &--divider {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
      bottom: -8px;

      @include vp-1366 {
        bottom: 3px;
      }
    }
  }
}

.games__count {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0 6px 0 0;

  @include vp-1366 {
    font-size: 24px;
    line-height: 24px;
    margin: 0 4px 0 0;
  }
}

.games__text {
  width: 66%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  @include vp-1366 {
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
  }
}

.games__description {
  color: $color-default-white;
  grid-column: span 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */
  margin: 0 0 55px 0;

  @include vp-1366 {
    margin: 0 0 21px 0;
  }
}
.games__button {
  grid-column: span 2;
  padding: 27px 56px;
  width: 340px;
  height: 66px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-default-white;
  border: 2px solid $color-default-white;

  @include vp-1366 {
    width: 202px;
    height: 56px;
    padding: 20px 41px;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: #103aae;
  }

  @include active {
    background-color: $color-default-white;
    color: #102654;
  }

  @include disabled {
    opacity: 0.5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }
}
