.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 103px;
  background: linear-gradient(
    90deg,
    #1c3477 0%,
    #1c3477 0.01%,
    #1a3578 39.11%,
    #73184b 75.5%,
    #b4022a 100%
  );
}
.header__image {
  display: block;
}

.header__telephone {
  color: #fff;
  text-align: right;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;

  @include hover-focus {
    color: #1c3374;
  }

  @include active {
    color: #102654;
    border-bottom: 1px solid #102654;
  }

  @include disabled {
    color: #f8f9fc;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }
}
