.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */
}
.header_telephone {
}
