.reviews-swiper {
  h2 {
    font-family: $ff-alumni;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0 0 46px 0;
    text-align: center;
    padding: 120px 0 0 0;

    @include vp-1366 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin: 0 0 42px 0;
      padding: 100px 0 0 0;
    }

    @include vp-768 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      padding: 70px 0 0 0;
      margin: 0 0 46px 0;
    }
  }

  @include vp-1366 {
    padding: 0 0 100px 0;
  }

  @include vp-768 {
    padding: 0 0 70px 0;
  }
}

.reviews-container {
  max-width: 560px;
  position: relative;
  padding: 0 0 121px 0;

  @include vp-1366 {
    padding: 0;
    max-width: 580px;
    height: 249px;
  }

  @include vp-768 {
    width: 226px;
    height: 328px;
  }
}

.reviews-slide {
  display: flex;
  max-width: 560px;
  height: 259px;
  padding: 60px;
  color: $color-default-white;
  background: #1c3374;
  box-shadow: 0px 0px 40px 0px rgba(28, 51, 116, 0.2);
  gap: 30px;
  margin: 0;
  position: relative;

  @include vp-1366 {
    padding: 60px 65px;
    max-width: 580px;
    height: 249px;
  }

  @include vp-768 {
    padding: 30px 25px;
    flex-direction: column;
    align-items: center;
    min-width: 226px;
    min-height: 328px;
    gap: 0;
  }

  img {
    @include vp-768 {
      width: 68px;
      height: 68px;
    }
  }
}

.reviews-text-wrapper {
  width: 330px;

  @include vp-768 {
    width: 176px;
    text-align: center;
  }
  h6 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 100% */
    margin: 0 0 21px 0;

    @include vp-1366 {
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 13px 0;
    }

    @include vp-768 {
      font-size: 18px;
      line-height: 20px;
      margin: 10px 0 16px 0;
    }
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;

    @include vp-1366 {
      width: 339px;
    }

    @include vp-768 {
      font-size: 14px;
      line-height: 22px;
      width: 176px;
    }
  }
}

.reviews-button-next {
  top: 26%;

  @include vp-1366 {
    top: 37%;
    right: -70px;
  }

  @include vp-768 {
    top: 41%;
    right: -53px;
  }
}

.reviews-button-prev {
  top: 27%;
  left: -77px;

  @include vp-1366 {
    top: 39%;
    left: -70px;
  }

  @include vp-768 {
    top: 42%;
    left: -53px;
  }
}

.reviews-button-prev svg {
  @include vp-768 {
    width: 10px;
    height: 19px;
  }
}

.reviews-button-next svg {
  @include vp-768 {
    width: 10px;
    height: 19px;
  }
}
