.tabs {
}
.no-transition-global {
}
.tabs__controls {
}
.tabs__control {
}
.button {
}
.tabs__content {
}

.tabs__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 448px;
  flex-shrink: 0;
  background: #fff;
}
.tabs__title {
  color: #102654;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
}

.tabs__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.tabs__price-wrapper {
  position: relative;
  flex-shrink: 0;
  text-align: center;
  padding: 54px 62px 6px 19px;
  margin: 0 0 29px 0;
}

.tabs__price {
  color: #103aae;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  z-index: 2;
}

.tabs__faded-price {
  color: #e8e8e8;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.48;
  width: 203px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tabs__button {
  background-color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 27px 44px;
  border: 2px solid #102654;
}
